@import '~node_modules/modern-normalize/modern-normalize.css';

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

body{
  overflow: unset;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
