<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="images/footer/logo-footer.svg" class="navbar__logo navbar__logo--footer" alt="#">
                <p class="footer__copy">Термінові вантажні перевезення прямим попутнім транспортом</p>
                <p class="footer__copy">Copyright &copy; 2023</p>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <h3 class="footer__title form__input--cntc">Зворотній зв'язок</h3>
                <form id="w2" action="" method="post">
<input type="hidden" name="_csrf" value="rKnykekmsifNKg6yKSpt-QgvddJwASEEEHtY_NgMkFybxZa8umz4SpViSsVqYzWxWUM_pSNEbTVVCx6GgEPHFw==">					<div class="form-group field-feedbacks-name required">

<input type="text" id="feedbacks-name" class="form__input" name="Feedbacks[name]" placeholder="Ваше ім&#039;я" aria-required="true">

<div class="help-block"></div>
</div>					<div class="form-group field-feedbacks-email required">

<input type="text" id="feedbacks-email" class="form__input" name="Feedbacks[email]" placeholder="Ваш email" aria-required="true">

<div class="help-block"></div>
</div>					<div class="form-group field-feedbacks-text required">

<textarea id="feedbacks-text" class="form__input form__input--textarea" name="Feedbacks[text]" placeholder="Ваше повідомлення" aria-required="true"></textarea>

<div class="help-block"></div>
</div>					
                <button type="submit" class="greet__btn greet__btn--footer" >Відправити</button>					</form>                </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <h3 class="footer__title footer__title--nav">Розділи сайту</h3>
                <ul class="footer__nav"><li><a href="">Додому</a></li>
<li><a href="">Про нас</a></li>
<li><a href="">FAQ</a></li>
<li><a href="">Угода користувача</a></li>
<li><a href="">Політика Конфіденційності</a></li></ul>                </div>
            <div class="col-md-3">
                <h3 class="footer__title">Контакти</h3>                    <a href="#" class="ui-k-112-icon ui-k-112-icon--marker">г. Киев, Украина </a>
                <a href="https://t.me/delivery_service_112kilo" target="_blank" class="ui-k-112-icon ui-k-112-icon--telega" aria-label="До сервісу Телеграм" rel="noopener noreferrer">@delivery_service_112kilo</a>
                <a href="mailto:support@112kilo.com" class="ui-k-112-icon ui-k-112-icon--email">support@112kilo.com</a>
                <div class="social">
                    <h5 class="social__title">Ми в соціальних мережах</h5>
                    <a href="#" class="ui-k-112-icon ui-k-112-icon--vk" aria-label="До соціальних мереж"></a>
                    <a href="#" class="ui-k-112-icon ui-k-112-icon--fb" aria-label="До соціальних мереж"></a>
                    <a href="#" class="ui-k-112-icon ui-k-112-icon--g" aria-label="До соціальних мереж"></a>
                    <a href="#" class="ui-k-112-icon ui-k-112-icon--ok" aria-label="До соціальних мереж"></a>
                    <a href="#" class="ui-k-112-icon ui-k-112-icon--inst" aria-label="До соціальних мереж"></a>
                </div>
            </div>
        </div>
    </div>
</footer>