<footer id="footer" class="footer">
    <div class="container" id="footer-container">
        <div class="row">
            <div class="col-md-3 footer__logo-box">
                <a href="./index.html" aria-label="Лого компанії">
                    <img src="images/footer/footerLogoBlue.svg" class="navbar__logo navbar__logo--footer" alt="#">
                </a>
                <p class="footer__logo-text">Термінові вантажні перевезення прямим попутнім транспортом</p>
                <p class="footer__logo-text">Copyright &copy; 2023</p>
            </div>

            <div class="col-md-3 hidden-sm hidden-xs footer__form-box">
                <h3 class="footer__title">Зворотній зв'язок</h3>
                <form id="w2" action="" method="post" class="form">
                    <input type="hidden" name="_csrf"
                        value="rKnykekmsifNKg6yKSpt-QgvddJwASEEEHtY_NgMkFybxZa8umz4SpViSsVqYzWxWUM_pSNEbTVVCx6GgEPHFw==">
                    <div class="form-group field-feedbacks-name required">

                        <input type="text" id="feedbacks-name" class="form__input" name="Feedbacks[name]"
                            placeholder="Ваше ім&#039;я" aria-required="true">

                        <div class="help-block"></div>
                    </div>
                    <div class="form-group field-feedbacks-email required">

                        <input type="text" id="feedbacks-email" class="form__input" name="Feedbacks[email]"
                            placeholder="Ваш email" aria-required="true">

                        <div class="help-block"></div>
                    </div>
                    <div class="form-group field-feedbacks-text required">

                        <textarea id="feedbacks-text" class="form__input form__input--textarea" name="Feedbacks[text]"
                            placeholder="Ваше повідомлення" aria-required="true"></textarea>

                        <div class="help-block"></div>
                    </div>
                    <button type="submit" class="greet__btn greet__btn--footer form__btn">Відправити</button>
                </form>
            </div>

            <div class="col-md-3 hidden-sm hidden-xs  footer__nav-box">
                <h3 class="footer__title footer__title--nav">Розділи сайту</h3>
                <ul class="footer__nav">
                    <li class="footer__nav-item"><a class="footer__nav-item-link" href="#">Додому</a></li>
                    <li class="footer__nav-item"><a class="footer__nav-item-link" href="#">Про нас</a></li>
                    <li class="footer__nav-item"><a class="footer__nav-item-link" href="#">FAQ</a></li>
                    <li class="footer__nav-item"><a class="footer__nav-item-link" href="#">Угода користувача</a></li>
                    <li class="footer__nav-item"><a class="footer__nav-item-link" href="#">Політика Конфіденційності</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 footer__contacts">
                <h3 class="footer__title">Контакти</h3>

                <div class="footer__contacts-location">
                    <a href="#" class="footer__contacts-text">
                        <img src="images/footer/contacts/location.svg" class="footer__contacts-text-img" alt="">
                        м. Київ,Україна
                    </a>
                    <a href="https://t.me/delivery_service_112kilo" target="_blank" class="footer__contacts-text"
                        aria-label="До сервісу Телеграм" rel="noopener noreferrer">
                        <img src="images/footer/contacts/send.svg" class="footer__contacts-text-img" alt="">
                        @delivery_service_112kilo
                    </a>
                    <a href="mailto:support@112kilo.com" class="footer__contacts-text">
                        <img src="images/footer/contacts/email.svg" class="footer__contacts-text-img" alt="">
                        support@112kilo.com
                    </a>
                </div>

                <div class="social">
                    <h5 class="social__title">Ми в соціальних мережах</h5>
                    <ul class="social__list">
                        <li class="social__list-item">
                            <a href="#" aria-label="До соціальних мереж">
                                <img src="images/footer/socials/w-icon.svg" alt="">
                            </a>
                        </li>

                        <li class="social__list-item">
                            <a href="#" aria-label="До соціальних мереж">
                                <img src="images/footer/socials/facebook.svg" alt="">
                            </a>
                        </li>

                        <li class="social__list-item">
                            <a href="#" aria-label="До соціальних мереж">
                                <img src="images/footer/socials/g-icon.svg" alt="">
                            </a>
                        </li>

                        <li class="social__list-item">
                            <a href="#" aria-label="До соціальних мереж">
                                <img src="images/footer/socials/ok-icon.svg" alt="">
                            </a>
                        </li>

                        <li class="social__list-item">
                            <a href="#" aria-label="До соціальних мереж">
                                <img src="images/footer/socials/instagram.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>