<header id="header" class="header">
    <div class="header__container">
        <a class="header__logo" href="./index.html" aria-label="Лого компанії">
            <img id="logo" src="images/logoHeader.svg" alt="Лого" width="106" height="30" />
        </a>
        <nav class="header__navigation navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Головна">Головна</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Доставка">Доставка</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main"
                        aria-label="Чемпіонат">Чемпіонат</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Новини">Новини</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="FAQ">FAQ</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#main"
                        aria-label="Завантажити додаток">Завантажити додаток</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Вхід">Вхід</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#main"
                        aria-label="Реєстрація">Реєстрація</a>
                </li>
            </ul>
        </nav>
        <button class="mobile-btn" type="button" aria-label="Switch mobile menu" aria-expanded="false"
            aria-controls="mobile-menu">
            <svg class="mobile-btn__icon" width="33" height="33">
                <use class="mobile-btn__icon-open" href="./images/sprite.svg#menu_open"></use>
                <use class="mobile-btn__icon-close" href="./images/sprite.svg#menu_close"></use>
            </svg>
        </button>
    </div>

    <!-- ========= MOBILE MENU ===========-->
    <div class="header__mobile-menu mobile-menu" id="mobile-menu">
        <a class="mobile-menu__logo" href="./index.html" aria-label="Лого компанії">
            <img id="logo_mobile" src="images/logoHeader.svg" alt="Лого" />
        </a>
        <nav class="mobile-menu__navigation navigation">
            <ul class="navigation__list  mobile-menu__navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Головна">Головна</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Доставка">Доставка</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main"
                        aria-label="Чемпіонат">Чемпіонат</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Новини">Новини</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="FAQ">FAQ</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#main"
                        aria-label="Завантажити додаток">Завантажити
                        додаток</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" href="#main" aria-label="Вхід">Вхід</a></li>
                <li class="navigation__item"><a class="navigation__link" href="#main"
                        aria-label="Реєстрація">Реєстрація</a>
                </li>
            </ul>
        </nav>
    </div>
</header>