<main>
  <div class="canvas" id="canvas">
    <!-- <div class="static" id="static"> -->
    <img id="car" src="images/svg/car.svg" alt="car" />
    <!-- <img id="road" src="images/highway-road_changed.png" alt="highway road" /> -->
    <img id="road" src="images/roadBig.svg" alt="highway road" />
  

    <!-- </div> -->
    <!-- <div class="screen1" id="screen1"> -->
    <!-- <img id="sun" src="images/svg/sun.svg" alt="sun" /> -->
    <img id="cloud-1" src="images/svg/cloud.svg" alt="cloud" />
    <img id="cloud-2" src="images/svg/cloud.svg" alt="cloud" />
    <img id="builds" src="images/svg/town.svg" alt="builds" />
    <!-- <img id="hills-1" src="images/svg/grass.svg" alt="hills" />
    <img id="hills-2" src="images/svg/grass.svg" alt="hills" /> -->
    <img id="hills" src="images/svg/grass.svg" alt="hills" />
   
    <!-- </div>
    <div class="screen2" id="screen2"> -->
    <img id="build-3" src="images/svg/house2.svg" alt="build" />
    <img id="build-4" src="images/svg/house3.svg" alt="build" />
    <img id="tree-1" src="images/svg/tree1.svg" alt="tree" />
    <img id="tree-2" src="images/svg/tree_2.svg" alt="tree" />
    <img id="tree-3" src="images/svg/tree_2.svg" alt="tree" />
    <img id="townBilding-1" src="images/svg/house1.svg" alt="hospital" />
    <img id="townBilding-2" src="images/svg/build.svg" alt="hospital" />
    <img id="townBilding-3" src="images/svg/build.svg" alt="hospital" />
    <img id="townBilding-4" src="images/svg/build.svg" alt="hospital" />
    <img id="trees-1" src="images/svg/build.svg" alt="trees" />
    <img id="trees" src="images/svg/pines.svg" alt="trees" />
    <!-- </div>
      <div class="screen3" id="screen3"> -->
    <img id="build-1" src="images/svg/moving-house4.svg" alt="build" />
    <img id="build-2" src="images/svg/moving-house5.svg" alt="build" />
    <img id="moving-tree-1" src="images/svg/tree1.svg" alt="billboard" />
    <img id="moving-tree-2" src="images/svg/tree_2.svg" alt="billboard" />
    <img id="forest-1" src="images/svg/pines.svg" alt="forest" />
    <img id="forest-2" src="images/svg/pines.svg" alt="forest" />
    <!-- </div>
    <div class="screen4" id="screen4"> -->
    <img id="big-board-1" src="images/svg/board.svg" alt="big board" />
    <img id="big-board-2" src="images/svg/board.svg" alt="big board" />
    <img id="big-board-3" src="images/svg/board.svg" alt="big board" />
    <img id="big-board-4" src="images/svg/board.svg" alt="big board" />
    <img id="big-board-5" src="images/svg/board.svg" alt="big board" />
    <img id="big-board-6" src="images/svg/board.svg" alt="big board" />
    <img id="turnLeft" src="images/TurnRight.svg" alt="big board" />
    <img id="turnRight" src="images/TurnRight.svg" alt="big board" />
    <img id="tree" src="images/svg/pine.svg" alt="tree" />
    <img id="cloud-3" src="images/svg/cloud.svg" alt="cloud" />
    <img id="cloud-4" src="images/svg/cloud.svg" alt="cloud" />
    <div id="strips-1"></div>
    <div id="strips-2"></div>
    <div id="strips-3"></div>
    <div id="strips-4"></div>
    <div id="strips-5"></div>
    <div id="strips-6"></div>
    <div id="strips-7"></div>
    <div id="strips-8"></div>
    <div id="strips-9"></div>
    <div id="strips-10"></div>
    <div id="strips-11"></div>
    <div id="strips-12"></div>
    <div id="strips-16"></div>
    <div id="strips-17"></div>
    <!-- </div> -->
<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>turn left -->
<img id="car_turn_left" src="images/svg_2/car-04.svg" alt="car" />

<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

  </div>
  <div class="canvas-2" id="canvas-2">
    <img id="car_with_driver_start" src="images/svg_2/car-03.svg" alt="car with driver" />
    <img id="lady_with_package" src="images/svg_2/people-01.svg" alt="lady with package" />
    <img id="man_with_package" src="images/svg_2/people-02.svg" alt="man with package" />
    <img id="lady_without_package_back" src="images/svg_2/people-04.svg" alt="lady without package" />
    <img id="lady_without_package" src="images/svg_2/people-04.svg" alt="lady without package" />
    <img id="man_without_package" src="images/svg_2/people-03.svg" alt="man without package" />
    <img id="man_without_package_back" src="images/svg_2/people-03.svg" alt="man without package" />
    <img id="car_with_dog_and_driver" src="images/svg_2/people-06.svg" alt="car with dog and driver" />
    <img id="car_with_dog_and_plant_and_driver" src="images/svg_2/people-08.svg" alt="car with dog and plant and driver" />


  </div>
  <div class="scrollElement"></div>
</main>