<main>
  <div class="canvas" id="canvas">
    <!-- <div class="static" id="static"> -->
    <img id="car" src="images/car.png" alt="car" />
    <img id="road" src="images/highway-road_changed.png" alt="highway road" />
    <!-- </div> -->
    <!-- <div class="screen1" id="screen1"> -->
    <img id="sun" src="images/sun.png" alt="sun" />
    <img id="cloud-1" src="images/cloud.png" alt="cloud" />
    <img id="cloud-2" src="images/cloud.png" alt="cloud" />
    <img id="builds" src="images/builds.png" alt="builds" />
    <img id="hills-1" src="images/hills.png" alt="hills" />
    <img id="hills-2" src="images/hills.png" alt="hills" />
    <img id="big-board-1" src="images/road-distances-sign.svg" alt="big board" />
    <img id="big-board-2" src="images/road-distances-sign.svg" alt="big board" />
    <img id="big-board-3" src="images/road-distances-sign.svg" alt="big board" />
    <img id="big-board-4" src="images/road-distances-sign.svg" alt="big board" />
    <img id="big-board-5" src="images/road-distances-sign.svg" alt="big board" />
    <img id="big-board-6" src="images/road-distances-sign.svg" alt="big board" />
   
    <!-- </div>
    <div class="screen2" id="screen2"> -->
    <img id="tree" src="images/tree.png" alt="tree" />
    <img id="trees" src="images/trees.png" alt="trees" />
    <img id="build-1" src="images/build.png" alt="build" />
    <img id="build-2" src="images/build.png" alt="build" />
    <!-- </div>
    <div class="screen3" id="screen3"> -->
    <img id="billboard-1" src="images/billboard.png" alt="billboard" />
    <img id="billboard-2" src="images/billboard2.png" alt="billboard" />
    <img id="forest-1" src="images/forest.png" alt="forest" />
    <img id="forest-2" src="images/forest.png" alt="forest" />
    <!-- </div>
    <div class="screen4" id="screen4"> -->
    <img id="build-3" src="images/build2.png" alt="build" />
    <img id="hospital" src="images/hospital.png" alt="hospital" />
    <img id="cloud-3" src="images/cloud.png" alt="cloud" />
    <img id="cloud-4" src="images/cloud.png" alt="cloud" />
    <div id="strips-1"></div>
    <div id="strips-2"></div>
    <div id="strips-3"></div>
    <div id="strips-4"></div>
    <div id="strips-5"></div>
    <div id="strips-6"></div>
    <div id="strips-7"></div>
    <div id="strips-8"></div>
    <div id="strips-9"></div>
    <div id="strips-10"></div>
    <div id="strips-11"></div>
    <div id="strips-12"></div>
    <div id="strips-16"></div>
    <div id="strips-17"></div>
    <!-- </div> -->
  </div>
  <div class="scrollElement"></div>
</main>